# Zephyr project
build/

# vscode
.devcontainer/
.vscode/

# vim
!*.svg  # comment out if you don't need vector files
*~
.netrwhist
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
tags

# emacs
*.elc
*.rel
*_archive
*_flymake.*
*~
.\#*
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
\#*\#
auto-save-list
dist/
flycheck_*.el
tramp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf